/*Подключение шрифтов*/
@font-face {
    font-family: 'Honda';
    src: url('fonts/honda/Hondafont.eot');
    src: url('fonts/honda/Hondafont.eot?#iefix') format('embedded-opentype'),
        url('fonts/honda/Hondafont.woff2') format('woff2'),
        url('fonts/honda/Hondafont.woff') format('woff'),
        url('fonts/honda/Hondafont.ttf') format('truetype'),
        url('fonts/honda/Hondafont.svg#Hondafont') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{
    background-color: white;
    font-family: HeliosCondWeb,sans-serif;
    text-align: center;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 200px;
}
.avtor{
    display: inline-block;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    user-select: none;
    cursor: pointer;   
}
.glavstr{
    display: inline-block;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    user-select: none;
    cursor: pointer;
    border-radius: 1px;
    background-color: white;
    padding: 5px;
    color: black;
}
.ram{
    border: 1px solid black;
    background-color: grey;
    padding: 20px;
    border-radius: 10px;
}
.avtoriz{
    margin-top: 10px;
    text-align: center;
}